@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$squareSize: 55px;
$borderSize: 5px;
$elementWidth: 350px;
$transitionTime: .3s;

$mainColor: #2F2F2F;
$hoverColor: #999;
$checkedColor: #666;

body {
    margin: 0;
    overflow-y: scroll;
    font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: $mainColor;
}

body::-webkit-scrollbar-thumb:hover {
    background: $hoverColor;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    margin: 0 auto 10px auto;
    font-weight: 800;
    font-size: 60px;
}

button {
    width: $squareSize;
    height: $squareSize;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: $borderSize solid $mainColor;
    font: inherit;
    cursor: pointer;
    transition: $transitionTime;
}

button:hover {
    background-color: $hoverColor;
}

.TodoList {
    display: flex;
    width: $elementWidth;
    margin: 100px auto;
    flex-flow: column;
    text-align: center;
    gap: 10px;
}

.TodoItem {
    display: flex;
    height: $squareSize;
}

.l-button {
    width: 100%;
    height: $squareSize;
    font-size: 20px;
    font-weight: 600;
}

.s-button {
    margin: auto 0 auto 5px;
    font-size: 25px;
    font-weight: 600;
}

input[type=text] {
    margin: 0 auto;
    width: 60%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-size: 20px;
}

input[type=checkbox] {
    width: $squareSize;
    height: $squareSize;
    margin: 0 5px 0 0;
    padding: 0;
    cursor: pointer;
    border: $borderSize solid $mainColor;
    outline: 0;
    transition: $transitionTime;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=checkbox]:hover {
    background-color: $hoverColor;
}

input[type=checkbox]:checked {
    background-color: $checkedColor;
}
